{% extends 'base/main.html' %}

{% block content %}

    <div class="header-bar">
        <div>
            <h1 style="margin-bottom: 3px;">안녕하세요.</h1>
            <h2 style="margin-top: 0;">{{ request.user|title }}</h2>
            <h3 style="margin:0">
                {% if count == 0 %}
                작업을 추가해주세요.
                {% else %}
                <i>{{ count }}개의 작업{{ count|pluralize:"이,들이" }} 남았습니다.</i>
                {% endif %}
            </h3>
        </div>
        {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">로그인</a>
        {% endif %}
    </div>

    <div id="search-add-wrapper">
        <form method="GET" style="margin-top: 20px; display: flex;">
            <input type="text" name="search-area" value="{{ search_input }}"/>
            <input class="button" type="submit" value="Search"/>
        </form>
        <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
    </div>

    <div class="task-items-wrapper">
        {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'task-update' task.id %}">{{ task }}</a></s></i>
            </div>

            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{ task }}</a>
            </div>
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            {% endif %}
        </div>
        {% empty %}
            <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
                <h3>현재 작업이 없습니다.</h3>
                <h3>새로운 <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">작업을</a> 생성해주세요! </h3>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

